section.about
	.container
		+blockBox({
			caption:"What we do",
			title:"Story about us",
			desc:"Lorem ipsum dolor sit ametconsectetur adipisicing elit dolor sit ametconsectetur adipisicing elit dolor sit ametconsectetur adipisicing elit dolor sit ametconsectetur adipisicing elit."})
		.about-list
			+aboutItem({
				src: "../../images/img-about1.png",
				title: "Super Team",
				classIcon: "fa fa-users"})
			+aboutItem({
				src: "../../images/img-about2.png",
				title:"Creativity",
				classIcon:"fa fa-heart"})
			+aboutItem({
				src:"../../images/img-about3.png",
				title: "Digital",
				classIcon: "fa fa-home"})