section.description
  .container
    +blockBox({
      caption:"Service",
      title: "What We Do",
      desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati voluptatem officia."
      })
    .description-content
      img(src="../../images/img-wedo.png" alt="").description-img
      .description-list
        +descItem({
          active: "is-active",
          src: "../../images/img-wedo-icon1.png",
          title: "Photography",
          text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus obcaecati voluptatem officia. Officiis similique sequi modi perspiciatis saepe molestias architecto dolorem eaque, nesciunt debitis aliquid! Quibusdam consequuntur cumque eos architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium dicta deserunt est quidem quas? Dolor itaque, nostrum delectus voluptatum at quaerat non omnis. Non numquam quia, maiores nihil laboriosam ab?  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium dicta deserunt est quidem quas? Dolor itaque, nostrum delectus voluptatum at quaerat non omnis. Non numquam quia, maiores nihil laboriosam ab"})
        +descItem({
          src: "../../images/img-wedo-icon3.png",
          title: "Creativity"})
        +descItem({
          src: "../../images/img-wedo-icon2.png",
          title: "Web Design"})
