footer.footer
  .container
    .footer-top
      .footer-column
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, minima ab ad iure neque eos voluptate. Reprehenderit totam aspernatur doloremque vel optio quibusdam, exercitationem similique sint quia dicta, eius harum?
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span.text Follow us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook-f
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest
        .footer-form
          input(type= "email" placeholder= "Your Email").footer-form-input
          button.footer-form-btn Subscribe
      .footer-column
        h3.footer-heading Blogs
        a(href="#").footer-blog
          img.footer-blog-img(src="../../images/img-blogs1.png", alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text jan 9, 2022
        a(href="#").footer-blog
          img.footer-blog-img(src="../../images/img-blogs2.png", alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text jan 9, 2022
        a(href="#").footer-blog
          img.footer-blog-img(src="../../images/img-blogs3.png", alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text jan 9, 2022
      .footer-column
        h3.footer-heading Instagram
        .footer-images
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
          .footer-img
            img(src="../../images/img-instagram1.png", alt="")
        a(href="#").footer-images-more.text View more photos
    .footer-bottom &copy; 2016 Mogo free PSD template <span>Laaqiq</span>