section.people
  .container
    +blockBox({
      caption: "Happy Clients",
      title: "What People Say"})
    ul.people-list
      +peopleItem({
        src: "../../images/img-people1.png",
        name: "Matthew Dix",
        pos: "Graphic Design",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi dolor laborum neque illum perferendis iste veniam autem, porro quam temporibus assumenda mollitia repellat labore, molestias nulla. Earum, obcaecati! Dignissimos? "
        })
      +peopleItem({
        src: "../../images/img-people2.png",
        name: "Nick Karvounis",
        pos: "Design UI/UX",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi dolor laborum neque illum perferendis iste veniam autem, porro quam temporibus assumenda mollitia repellat labore, molestias nulla. Earum, obcaecati! Dignissimos? "
        })
      +peopleItem({
        src: "../../images/img-people3.png",
        name: "Jaelynn Catillo",
        pos: "Developer Web",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi dolor laborum neque illum perferendis iste veniam autem, porro quam temporibus assumenda mollitia repellat labore, molestias nulla. Earum, obcaecati! Dignissimos? "
        })
      +peopleItem({
        src: "../../images/img-people4.png",
        name: "Mike Petrucci",
        pos: "Freelancer",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi dolor laborum neque illum perferendis iste veniam autem, porro quam temporibus assumenda mollitia repellat labore, molestias nulla. Earum, obcaecati! Dignissimos? "
        })