section.quote
	.container
		.quote-list
			+quoteItem({
				src: "../../images/img-quote.png",
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate at magnam quos, iure accusamus, aliquid autem, ea non velit facere perferendis? Cum autem iusto cupiditate, dignissimos magnam aspernatur nesciunt.",
				author: "Joe Doe",
				type: false
				})
			+quoteItem({
				src: "../../images/img-quote.png",
				title: "Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate at magnam quos, iure accusamus, aliquid autem, ea non velit facere perferendis? Cum autem iusto cupiditate, dignissimos magnam aspernatur nesciunt.",
				author: "Joe Doe",
				type: false
				})
			+quoteItem({
				src: "../../images/img-quote.png",
				title: "Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate at magnam quos, iure accusamus, aliquid autem, ea non velit facere perferendis? Cum autem iusto cupiditate, dignissimos magnam aspernatur nesciunt.",
				author: "Joe Doe",
				type: false
				})

