section.service
	.container
		+blockBox({
			caption:"We work with",
			title: "Amazing Services"})
		.service-container
			.service-list
				+serviceItem({
					src: "../../images/img-service-icon1.png",
					title: "Photography",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
				+serviceItem({
					src: "../../images/img-service-icon2.png",
					title: "Web Design",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
				+serviceItem({
					src: "../../images/img-service-icon3.png",
					title: "Creativity",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
			.service-list
				+serviceItem({
					src: "../../images/img-service-icon4.png",
					title: "Seo",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
				+serviceItem({
					src: "../../images/img-service-icon5.png",
					title: "CSS/HTML",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
				+serviceItem({
					src: "../../images/img-service-icon6.png",
					title: "Digital",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nesciunt officiis cumque pariatur"})
