section.story
  .container
    +blockBox({
      caption: "Our Stories",
      title: "Latest blog"})
    ul.story-list
      +storyItem({
        src: "../../images/img-blog1.png",
        numberDate: "14",
        textDate: "Jun",
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi delectus officiis vero nostrum ullam veniam eligendi, sapiente ut quae, ipsum magni excepturi! Quod ea, iusto unde doloribus suscipit ducimus recusandae. ",
        seens: "1100",
        comments: "242"})
      +storyItem({
        src: "../../images/img-blog2.png",
        numberDate: "14",
        textDate: "Jun",
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi delectus officiis vero nostrum ullam veniam eligendi, sapiente ut quae, ipsum magni excepturi! Quod ea, iusto unde doloribus suscipit ducimus recusandae. ",
        seens: "1100",
        comments: "242"})
      +storyItem({
        src: "../../images/img-blog3.png",
        numberDate: "14",
        textDate: "Jun",
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi delectus officiis vero nostrum ullam veniam eligendi, sapiente ut quae, ipsum magni excepturi! Quod ea, iusto unde doloribus suscipit ducimus recusandae. ",
        seens: "1100",
        comments: "242"})
section.map
  .container
    .map-content
      img.map-icon(src="../../images/img-map-icon.png", alt="alt")
      h2.map-heading Open Map

