section.work
	.container
		+blockBox({
			caption:"What We Do",
			title: "Some Of Our Work",
			desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus sunt deserunt sapiente facilis, vel ratione consectetur nam blanditiis neque animi dolorem voluptatibus, reprehenderit voluptates error labore ipsam nostrum debitis."})
	.work-list
		.work-column
			+workItem({
				srcImg: "../../images/img-work1.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				})
			+workItem({
				srcImg: "../../images/img-work2.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				})
		.work-column
			+workItem({
				srcImg: "../../images/img-work3.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				})
			+workItem({
				srcImg: "../../images/img-work4.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				})
		.work-column
			+workItem({
				srcImg: "../../images/img-work5.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				full: "work-item--full"})
		.work-column
			+workItem({
				srcImg: "../../images/img-work6.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir."
				})
			+workItem({
				srcImg: "../../images/img-work7.png",
				srcIcon:"../../images/img-work-icon.png",
				title:'Creatively designed',
				desc: "Lorem ipsum dolor sir.",
				})