.number {
	background-color: $third-color;
	&-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	&-item {
		padding: 8.5rem 3.5rem;
		color: white;
		text-align: center;
		border-left: 1px solid white;
		width: 20%;

		&-count {
			font-size: 7.2rem;
			font-weight: bold;
			margin-bottom: 2rem;
		}
		&-text {
			font-size: 1.4rem;
			text-transform: uppercase;
			line-height: 1.4;
		}
	}
	&-item:last-child {
		border-right: 1px solid white;
	}
	@include maxWidth(1023px) {
		&-item {
			padding: 5rem 1.5rem;
		}
		&-item-count {
			font-size: 5rem;
		}
		&-item-text {
			font-size: 1.4rem;
		}
	}
	@include maxWidth(767px) {
		&-list {
			display: block;
		}
		&-item {
			width: 100%;
			padding: 2.5rem 1.5rem;
		}
		&-item:not(:last-child) {
			border-bottom: 1px solid white;
		}
		&-item:last-child {
			border-right: 0;
		}
		&-item:not(:nth-child(999)) {
			border-left: 0;
		}
	}
}
