.people {
	padding: 10rem 0 3rem;
	background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
		url('../../images/img-people-bg.png') no-repeat center/cover;

	&-list {
		margin-top: 9rem;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 4rem;
	}
	&-item {
		width: calc(50% - 30px);
		margin-bottom: 7rem;
	}
	&-item {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
	}
	&-img {
		width: 11.5rem;
		height: 11.5rem;
		object-fit: cover;
		border-radius: 100rem;
		flex-shrink: 0;
	}
	&-content {
		margin-left: 3rem;
	}
	&-name {
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 1.5rem;
	}
	&-position {
		display: inline-block;
		font-weight: 300;
		font-family: $secondary-font;
		font-style: italic;
		color: $text-color;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		position: relative;
		&::after {
			content: '';
			bottom: 0;
			left: 0;
			position: absolute;
			width: 6.5rem;
			height: 4px;
			background-color: $primary-color;
		}
	}
	&-desc {
		font-family: $secondary-font;
		color: $text-color;
		font-size: 1.5rem;
		line-height: 1.6;
	}

	@include maxWidth(1023px) {
		padding: 5rem 0 1rem;
		&-list {
			display: block;
		}
		&-item {
			width: 100%;
			margin-bottom: 4rem;
		}
	}
	@include maxWidth(767px) {
		&-list {
			padding: 0;
			margin-top: 6rem;
		}
		&-img {
			width: 8rem;
			height: 8rem;
		}
	}
}
